[Unit]
Description=Start AP while connecting to other Hot Spot
After=network.target

[Service]
Type=exec
ExecStart=/usr/bin/start_apd
User=root
Group=root
ExecStopPost=/bin/rm -rf /tmp/start_apd

